notes/01-docker-terraform/pgadmin_data/
notes/01-docker-terraform/part_2_terraform/.terraform*
notes/01-docker-terraform/part_2_terraform/*.tfstate*
notes/01-docker-terraform/part_2_terraform/terraform.tfstate.backup
notes/01-docker-terraform/part_2_terraform/.terraform/
homework/01-docker-terraform/terraform_with_variables/.terraform*
